Django~=4.2.7
django-extensions==3.2.1
django-crispy-forms~=2.1
crispy-bootstrap5
django-htmx
django-dbbackup
django-template-partials
psycopg2-binary
Faker~=24.11.0
transliterate
gunicorn
python-json-logger
whitenoise
