{% load template_filters %}

<style>
  .navbar-brand {
    position: relative;
  }

  .dev-badge {
    position: absolute;
    top: -5px;  /* Adjust as needed to fine-tune vertical positioning */
    right: -20px;  /* Adjust as needed to fine-tune horizontal positioning */
    font-size: 0.4em; /* You can adjust the size as needed */
  }
</style>

<nav class="navbar fixed-top navbar-expand-lg
  {% if debug %} navbar-light bg-warning {% else %} navbar-dark bg-dark {% endif %} mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      {% if debug %}
        MaxStat
        <span class="badge bg-danger dev-badge">dev</span>
      {% else %}
        MaxStat
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if request.user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if "report_form" in request.path %}active{% endif %}"
               href="{% url 'report_form' %}">Отчет о смене</a>
          </li>
          {% if request.user|has_role:'MODERATOR' or request.user|has_role:'ADMIN' %}
            <li class="nav-item">
              <a class="nav-link {% if "stats" in request.path %}active{% endif %}"
                 href="{% url 'stats' %}">Статистика</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if "orders" in request.path %}active{% endif %}"
                 href="{% url 'orders_view' %}">Заказы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if "reports" in request.path %}active{% endif %}"
                 href="{% url 'reports_view' %}">Отчеты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if "details" in request.path %}active{% endif %}"
                 href="{% url 'details_view' %}">Детали</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if "machines" in request.path %}active{% endif %}"
                 href="{% url 'machines_view' %}">Станки</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if "users" in request.path %}active{% endif %}"
                 href="{% url 'users_view' %}">Пользователи</a>
            </li>
          {% endif %}
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="nav-link disabled">{{ request.user.get_username }} </a>
            <a class="nav-link" href="{% url 'logout_user' %}">Выйти</a>
          </ul>
        </form>
      </div>
    {% endif %}
  </div>
</nav>
