{% extends 'core/base.html' %}
{% load partials %}
{% load template_filters %}

{% block extra_head %}
  <style>
      .scrollable {
          height: calc(100vh - 120px);
          overflow-y: scroll;
      }

      .report-table {
          font-size: 12px;
      }

      .report-user {
          font-size: 16px;
          font-weight: bold;
      }

      .report-header-date {
          font-size: 12px;
      }

      .report-list {
          font-size: 14px;
      }

      .report-order-number {
          font-size: 14px;
      }
  </style>
{% endblock %}

{% block content %}
  <div class="row justify-content-center mb-3">
    <div class="row">
      <div class="col-4">
        <select class="form-select"
                aria-label="User select"
                name="user_pk"
                hx-get="{% url 'reports_view' %}"
                hx-trigger="change"
                hx-target="#reports-shifts"
                hx-include="[name='month'], [name='user_pk']">
          <option value="">Все пользователи</option>
          <option value="-1">Без пользователя</option>
          {% for user in users %}
            <option value={{ user.pk }}>{{ user.username }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-4">
        <input type="month"
               class="form-control"
               name="month"
               value="{{ current_month }}"
               hx-get="{% url 'reports_view' %}"
               hx-trigger="change"
               hx-target="#reports-shifts"
               hx-include="[name='month'], [name='user_pk']">
      </div>
      <div class="col-4 d-grid">
        <a class="btn btn-success"
           type="button"
           href="{% url 'reports_add' %}">
          Создать отчет
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    {% for step in steps %}
      <div class="col p-1">
        <h4 class="text-center">
          {{ step.name }}
        </h4>
      </div>
    {% endfor %}
    <hr class="mb-0"/>
  </div>

  {% partialdef reports_shifts inline=True %}
  <div id="reports-shifts" class="row scrollable pt-3">
    {% for day, step_reports in shift_reports_lists.items %}
      <h5>{{ day }}</h5>
      {% for step, reports in step_reports.items %}
        <div class="col-3 mb-3 p-1">
          <div class="report-list">
            {% for report in reports %}
              <div class="card mb-1" id="report-card">
                <div class="card-header p-2">
                  <div class="row">
                    <div class="col">
                      <div class="report-user">
                        {{ report.user.username }}
                      </div>
                      <div class="report-order-number">
                        {{ report.order.name }} {{ report.order }}
                      </div>
                      <div class="report-header-date">
                        {{ report.date|date:'d.m.y H:i' }}
                      </div>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="btn-group btn-group-sm">
                        <a class="btn btn-secondary" type="button" href="{% url 'reports_edit' report.pk %}">
                          <i class="bi bi-pencil-fill"></i>
                        </a>
                        <button class="btn btn-danger"
                                type="button"
                                hx-post="{% url 'reports_delete' report.pk %}"
                                hx-target="closest #report-card"
                                hx-swap="outerHTML"
                                hx-trigger="click"
                                hx-confirm="Вы уверены что вы хотите удалить {{ report }}">
                          <i class="bi bi-trash-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body" style="padding: 0">
                  <div id="report-entries-list-{{ report.pk }}">
                    <div class="table-responsive">
                      <table class="table report-table table-bordered bg-white mb-0">
                        <thead>
                        <tr>
                          <th class="text-center" scope="col">Станок</th>
                          <th class="text-center" scope="col">Деталь</th>
                          <th class="text-center" scope="col">Кол.</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for report_entry in report.reportentry_set.all %}
                          <tr>
                            <td class="text-center">
                              {{ report_entry.machine }}
                            </td>
                            <td class="text-center">
                              {{ report_entry.detail }}
                            </td>
                            <td class="text-center">
                              {{ report_entry.quantity }}
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <hr/>
    {% endfor %}
    </div>
  {% endpartialdef %}
{% endblock %}
