{% extends 'core/base.html' %}
{% load template_filters %}

{% block extra_head %}
  <style>
      .scrollable {
          height: calc(100vh - 120px);
          overflow-y: scroll;
      }
  </style>
{% endblock %}

{% block content %}
  <div class="row justify-content-center mb-3">
    <div class="row">
      <div class="col-lg-3 col-md-6 d-grid">
        <div class="row">
          <div class="col-12" style="padding: 0">
            <select class="form-select"
                    aria-label="User select"
                    name="user_pk"
                    hx-get="{% url 'reports_view' page=1 %}"
                    hx-trigger="change"
                    hx-target="#reports-shits"
                    hx-include="[name='user_pk']">
              <option value="">Все пользователи</option>
              <option value="-1">Без пользователя</option>
              {% for user in users %}
                <option value={{ user.pk }}>{{ user.username }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="col-6 d-grid">
        <a class="btn btn-success"
           type="button"
           href="{% url 'reports_add' %}">
          Создать отчет
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    {% for step in steps %}
      <div class="col p-1">
        <h4 class="text-center">
          {{ step.name }}
        </h4>
      </div>
    {% endfor %}
    <hr class="mb-0"/>
  </div>

  {% include 'core/partials/reports_shifts.html' %}

{% endblock %}