{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 align-content-center">
      <h1 class="text-center">Отчет о смене</h1>

      <form method="POST" enctype="multipart/form-data" id="report-form">
        {% csrf_token %}
        {% crispy form %}
        {{ formset.management_form }}
        {% for entry_form in formset %}
          <div id="report-entry-form-wrapper">
            {% crispy entry_form %}
          </div>
        {% endfor %}

        <button hx-get="{% url 'add_report_entry_form' %}"
                hx-swap="beforebegin"
                hx-vals='js:{totalForms: $("#id_reportentry_set-TOTAL_FORMS").val()}'
                type="button"
                class="btn btn-success me-2">Добавить еще
        </button>
        <button type="submit" class="btn btn-primary me-2">Подтвердить</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}

  {#    <script>#}
  {#        $(".select").select2({#}
  {#            theme: "bootstrap-5",#}
  {#        })#}
  {#    </script>#}
  <script>
      function handleCancelClick(button) {
          button.parentNode.querySelector('input[type=checkbox]').checked = true;
          button.parentNode.style.display = "none";
      }
  </script>
{% endblock %}
