{% extends 'core/base.html' %}

{% block extra_head %}
  <style>
      /*Remove the scrollbar from Chrome, Safari, Edge and IE*/
      ::-webkit-scrollbar {
          width: 0px;
          background: transparent;
      }

      * {
          -ms-overflow-style: none !important;
      }

      body, html {
          overflow: hidden;
      }
  </style>
{% endblock %}

{% block content %}
  <div id="modals-here"
       class="modal modal-blur fade"
       style="display: none"
       aria-hidden="false"
       tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 p-1">
      <a class="btn btn-success w-100 mb-3"
         type="button"
         href="{% url 'orders_add' %}">
        Создать заказ
      </a>

      {% include 'core/partials/orders_list.html' %}
    </div>
    <div class="col-8 p-1" id="right-col">
      {% include 'core/partials/right_col.html' %}
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script>
      $(document).ready(function () {
          var lastClassChanged = '';

          function changeToGreen(className) {
              if (lastClassChanged === className) {
                  $(className).css('background', '');
                  lastClassChanged = '';
              } else {
                  $(lastClassChanged).css('background', '');
                  $(className).css('background', '#ffc008');
                  lastClassChanged = className;
              }
          }

          // Attach the click event handler to all tr elements under the table with class "order-table"
          $('table.order-table tbody tr').click(function () {
              let className = $(this).attr('class'); // Get the class of the clicked element
              console.log("Last class changed:", lastClassChanged);
              changeToGreen('.' + className); // Call the function to change elements to green with the class name as an argument
          });

          console.log("Last class changed:", lastClassChanged);
      });

  </script>
{% endblock %}