{% extends 'core/base.html' %}
{% load partials %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block extra_head %}
  <style>
      /*Remove the scrollbar from Chrome, Safari, Edge and IE*/
      ::-webkit-scrollbar {
          width: 0px;
          background: transparent;
      }

      * {
          -ms-overflow-style: none !important;
      }

      body, html {
          overflow: hidden;
      }

      .highlight {
          background-color: #ffc008 !important;
      }

      /* Styles for both editing and non-editing states */
      .quantity span,
      .quantity input.quantity-input {
        display: inline-block;
        width: 60px;
        height: 22px; /* Set a fixed height */
        line-height: 20px; /* Adjust line-height to center text vertically */
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
      }

      /* Specific styles for the input when editing */
      .quantity input.quantity-input {
        padding: 0;
        border: 1px solid #ced4da;
        background: white;
        color: inherit;
        margin: 0; /* Remove any default margins */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
      }

      .quantity input.quantity-input:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
      }

      /* Remove up-down arrows from number input */
      input[type=number].quantity-input::-webkit-inner-spin-button,
      input[type=number].quantity-input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number].quantity-input {
        -moz-appearance: textfield;
      }
  </style>
  <style>
      table {
          table-layout: fixed;
      }

      td {
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
      }

      .tableFixHead {
          overflow: auto;
          height: calc(100vh - 110px);
      }

      .tableFixHead thead th {
          position: sticky;
          top: 0;
          z-index: 1;
          background-color: darkslategray;
          color: white;
      }

      td.done {
          background-color: lightgray;
      }

      td.plan {
          text-align: center;
          color: #198754;
      }

      td.day {
          text-align: center;
          background-color: #FFFEE0;
          font-weight: bold;
      }

      td.night {
          text-align: center;
          background-color: #2F4858;
          color: white;
          font-weight: bold;
      }

      .detail-name {
          font-size: 12px;
      }

      .quantity {
          font-size: 14px;
          font-weight: bold;
      }

      .adding {
          background-color: lightgreen !important;
      }
  </style>
{% endblock %}

{% partialdef order-button-sm-active %}
  <a id="switch-button"
     hx-swap-oob="true"
     class="btn btn-dark"
     type="button"
     hx-get="{% url 'stats_orders_view_inactive' %}"
     hx-target="#orders-list"
     hx-swap="outerHTML">
    <i class="bi bi-clipboard-check-fill"></i>
  </a>
{% endpartialdef %}


{% partialdef order-button-sm-inactive %}
  <a id="switch-button"
     hx-swap-oob="true"
     class="btn btn-primary"
     type="button"
     hx-get="{% url 'stats_orders_view_active' %}"
     hx-target="#orders-list"
     hx-swap="outerHTML">
    <i class="bi bi-clipboard-check-fill"></i>
  </a>
{% endpartialdef %}


{% partialdef plan_cell %}
  <td class="plan"
      x-show="{{ x_show_param }}"
      id="{{ cell.id }}"
      :class="{ 'adding': adding }"
      x-data="{
        adding: false,
        showModal() {
          htmx.ajax('GET', '{% url 'plan_modal' %}', {
            target: '#modals-here',
            swap: 'innerHTML',
            values: { pk: {{ cell.plan.pk }} },
          }).then(() => {
            const modal = new bootstrap.Modal(document.getElementById('modals-here'));
            modal.show();
          });
        }
      }"
      @click="showModal()"
      @drop="adding = false"
      @dragover.prevent="adding = true"
      @drop.prevent="drag_n_drop($el, drag_type, plan_entry_id_drag, order_id_drag, detail_id_drag, {{ cell.plan.id }})"
      @dragleave.prevent="adding = false"
  >
    {% partialdef plan_cell_inner inline=True %}
      <div id="{{ cell.id }}-inner" {% if hx_swap_oob %} hx-swap-oob="true"{% endif %}>
        {% for plan_entry in cell.plan.planentry_set.all %}
          <div class=""
               @dragstart.self="
                  drag_type = 'plan_to_plan';
                  plan_entry_id_drag = {{ plan_entry.id }};
                  console.log(drag_type, plan_entry_id_drag);
              "
               draggable="true"
               :class="highlight === '{{ plan_entry.order }} {{ plan_entry.detail }}' ? 'highlight' : ''"
          >
            <div class="detail-name">
              {{ plan_entry.detail }}
            </div>
            <div class="quantity"
                 x-data="{
                   quantity: '{{ plan_entry.quantity }}',
                   originalQuantity: '{{ plan_entry.quantity }}'
                 }"
                 @click.stop="
                   $event.stopPropagation();
                   editingId = {{ plan_entry.id }};
                   $nextTick(() => $refs.input_{{ plan_entry.id }}.focus());
                 "
                 @click.away="
                   if (editingId === {{ plan_entry.id }}) {
                     editingId = null;
                     quantity = originalQuantity;
                   }
                 "
            >
              <span x-show="editingId !== {{ plan_entry.id }}" x-text="quantity"></span>
              <input
                x-show="editingId === {{ plan_entry.id }}"
                x-model="quantity"
                @keyup.enter="
                  htmx.ajax('POST', '{% url 'update_plan_entry_quantity' %}', {
                    target: '#{{ cell.id }}-inner',
                    swap: 'none',
                    values: {
                      plan_entry_id: {{ plan_entry.id }},
                      quantity: quantity
                    }
                  });
                  editingId = null;
                "
                @keyup.escape="editingId = null; quantity = originalQuantity"
                x-ref="input_{{ plan_entry.id }}"
                type="number"
                class="quantity-input"
              >
            </div>
          </div>
        {% endfor %}
      </div>
    {% endpartialdef %}
  </td>
{% endpartialdef %}


{% partialdef done_cell %}
  <td class="done"
      x-show="{{ x_show_param }}"
  >
    {% for report_entry in cell.report_entries %}
      <div class="{{ report_entry.detail|get_detail_class }}"
           hx-trigger="click"
           hx-get='{% url 'report_modal' %}'
           hx-target="#modals-here"
           hx-vals='{"pk": {{ report_entry.pk }}}'
           data-bs-toggle="modal"
           data-bs-target="#modals-here"
           :class="highlight === '{{ report_entry.report.order }} {{ report_entry.detail }}' ? 'highlight' : ''"
      >
        <div class="detail-name"
        >
          {{ report_entry.detail }}
        </div>
        <div class="quantity">
          {{ report_entry.quantity }}
        </div>
      </div>
    {% endfor %}
  </td>
{% endpartialdef %}


{% partialdef content_cell %}
  {% if cell.plan and cell.report_entries %}
    {% with x_show_param='!plans_only' %}
      {% partial done_cell %}
    {% endwith %}
    {% with x_show_param='plans_only' %}
      {% partial plan_cell %}
    {% endwith %}
  {% else %}
    {% with x_show_param='true' %}
      {% partial plan_cell %}
    {% endwith %}
  {% endif %}
{% endpartialdef %}


{% partialdef day_cell %}
  <td class="{{ cell.class }}">
    <div>
      {{ cell.text }}
      <br/>
      <i class="bi bi-sun-fill"></i>
    </div>
  </td>
{% endpartialdef %}


{% partialdef night_cell %}
  <td class="{{ cell.class }}">
    <div>
      {{ cell.text }}
      <br/>
      <i class="bi bi-moon-stars-fill"></i>
    </div>
  </td>
{% endpartialdef %}


{% block content %}
  <div class="row"
       x-data="{
         highlight: '',
         drag_type: '',
         detail_id_drag: '',
         order_id_drag: '',
         plan_entry_id_drag: '',
         plans_only: false,
         editingId: null  // Add this line
       }"
       @htmx:after-swap.window="plans_only = !plans_only;"
       @htmx:after-settle.window="plans_only = !plans_only;"
  >
    <div class="col-4 p-1">
      <div class="row">
        <div class="col">
          <a class="btn btn-success w-100 mb-3"
             type="button"
             href="{% url 'orders_add' %}">
            Создать заказ
          </a>
        </div>
        <div class="col-auto">
          {% partial order-button-sm-active %}
        </div>
      </div>
      {% include 'core/partials/orders_list.html' %}
    </div>
    <div class="col-8 p-1" id="stats-table">
      {% partialdef table inline=True %}
        <div class="row justify-content-center mb-3">
          <div class="col btn-group">
            {% for step in steps %}
              <a hx-get="{% url 'switch_step' step=step.pk %}"
                 hx-swap="innerHTML"
                 hx-target="#stats-table"
                 class="btn {% if step.pk == active_step_pk %} btn-primary {% else %} btn-secondary {% endif %}">
                {{ step.name }}
              </a>
            {% endfor %}
          </div>
          <button class="col-auto btn btn-warning me-3"
                  x-show="!plans_only"
                  @click.prevent="plans_only = !plans_only"
          >
            Планы и отчеты&nbsp;
            <i class="bi bi-eye-fill"></i>
          </button>
          <button class="col-auto btn btn-warning me-3"
                  x-show="plans_only"
                  @click.prevent="plans_only = !plans_only"
                  style="display: none"
          >
            Только планы&nbsp;
            <i class="bi bi-eye-slash-fill"></i>
          </button>
        </div>
        <div class="row">
          <div class="tableFixHead" id="stats-table-inner">
            <table class="table table-bordered text-center">
              <colgroup>
                <col style="width: 70px">
              </colgroup>
              <thead>
              <tr>
                <th>
                  <div class="btn-group">
                    <a hx-get="{% url 'shift_table' value=-1 %}"
                       hx-swap="innerHTML"
                       hx-target="#stats-table"
                       class="btn-sm btn-dark">
                      <i class="bi bi-arrow-up"></i>
                    </a>
                    <a hx-get="{% url 'shift_table' value=1 %}"
                       hx-swap="innerHTML"
                       hx-target="#stats-table"
                       class="btn-sm btn-dark">
                      <i class="bi bi-arrow-down"></i>
                    </a>
                  </div>
                </th>
                {% for machine in machines %}
                  <th scope="col">{{ machine.name }}</th>
                {% endfor %}
              </tr>
              </thead>
              <tbody>
              {% for row in table %}
                <tr>
                  {% for cell in row %}
                    {% if cell.class == "day" %}
                      {% partial day_cell %}
                    {% elif cell.class == "night" %}
                      {% partial night_cell %}
                    {% else %}
                      {% partial content_cell %}
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endpartialdef %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
      document.body.addEventListener("scroll-table", function (evt) {
          scroll();
      })

      function get_target_by_id(id) {
          console.log(id)
          return '#' + id;
      }

      function drag_n_drop(el, drag_type, plan_entry_id, order_id, detail_id, plan_id) {
          console.log(el, drag_type, plan_entry_id, order_id, detail_id);
          if (drag_type === 'order_to_plan') {
              console.log('order_to_plan')
              htmx.ajax(
                  'POST',
                  '{% url 'order_to_plan_drop' %}',
                  {
                      target: get_target_by_id(el.id),
                      values: {
                          detail_id: detail_id,
                          order_id: order_id,
                          plan_id: plan_id,
                      },
                      swap: 'innerHTML',
                  });
          } else if (drag_type === 'plan_to_plan') {
              console.log('plan_to_plan')
              htmx.ajax(
                  'POST',
                  '{% url 'plan_to_plan_drop' %}',
                  {
                      target: get_target_by_id(el.id),
                      values: {
                          plan_entry_id: plan_entry_id,
                          plan_id: plan_id,
                      },
                      swap: 'innerHTML',
                  });
          }
      }

      function toggleDoneElements() {
          const doneElements = document.querySelectorAll('.done-plan');
          doneElements.forEach(element => {
              element.style.display = element.style.display === 'none' ? '' : 'none';
          });
      }

      function scroll() {
          const trElements = document.querySelectorAll('#stats-table-inner > table > tbody > tr');
          let totalHeight = 0;
          for (let i = 0; i < 10 && i < trElements.length; i++) {
              const trElement = trElements[i];
              totalHeight += trElement.clientHeight;
              totalHeight += 2;
          }
          const el = document.getElementById('stats-table-inner');
          el.scrollTop = totalHeight;
      }

      scroll()
      document.addEventListener('DOMContentLoaded', (event) => {
          scroll();
      });
  </script>
  {# auto update after inactive 5 min #}
  <script>
      var time = new Date().getTime();
      $(document.body).bind("mousemove keypress", function (e) {
          time = new Date().getTime();
      });

      function refresh() {
          if (new Date().getTime() - time >= 300000)
              window.location.reload(true);
          else
              setTimeout(refresh, 10000);
      }

      setTimeout(refresh, 10000);
  </script>
{% endblock %}
