<div id="orders-list">
  {% for order in orders %}
    <div class="card mb-1">
      <div class="card-header">
        <div class="row">
          <h5 class="col-auto me-auto align-self-center">{{ order.name }} - {{ order.date|date:'d.m.y H:i' }}</h5>
          <div class="col-auto ms-auto">
            <div class="btn-group">
              <a class="btn btn-secondary" type="button" href="{% url 'orders_edit' order.pk %}">И</a>
              <button class="btn btn-danger"
                      type="button"
                      hx-post="{% url 'orders_delete' order.pk %}"
                      hx-target="#orders-list"
                      hx-trigger="click">Х
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        {% include 'core/partials/order_entries_list.html' %}


      </div>
    </div>
  {% endfor %}
</div>