{% load template_filters %}

{% block extra_head %}
<style>
    .order-table-names {
        background-color: lightgray;
    }

    .order-table-total {
        background-color: lightgray;
    }

    .order-table {
        {#font-weight: bold;#}
        font-size: 14px;
    }

    .order-table-cell-overflow {
        font-weight: bold;
        color: red;
    }
</style>
{% endblock %}

<div id="order-entries-list-{{ order.pk }}">
  <div class="table-responsive">
    <table class="table table-bordered bg-white mb-0 order-table">
      <colgroup>
        <col class="order-table-names"/>
        <col class="order-table-total"/>
        <col/>
      </colgroup>
      <thead>
      <tr>
        <th class="text-center" scope="col">Деталь</th>
        <th class="text-center" scope="col">Всего</th>
        {% for step in steps %}
          <th class="text-center" scope="col"> {{ step.name }} </th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for order_entry in order.orderentry_set.all %}
        <tr>
          <td class="text-center">
            {{ order_entry.detail }}
          </td>
          <td class="text-center">
            {{ order_entry.quantity }}
          </td>
          {% for step in steps %}
            <td class="text-center {% if leftovers|lookup:step.pk|lookup:order_entry.pk >= 0 %} order-table-cell-overflow {% endif %}">
              {% if leftovers|lookup:step.pk|lookup:order_entry.pk >= 0 %}+{% endif %}{{ leftovers|lookup:step.pk|lookup:order_entry.pk }}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
