{% block extra_head %}
  <style>
      .report-header-date {
          font-size: 14px;
      }
  </style>
{% endblock %}


<div id="reports-list">
  {% for report in reports %}
    <div class="card mb-1" id="report-card">
      <div class="card-header p-2">
        <div class="row">
          <div class="col-auto align-self-center">{{ report.user.username }}</div>
          <div class="col-auto align-self-center report-header-date">
            {{ report.date|date:'d.m.y H:i' }}
          </div>
          <div class="col-auto ms-auto">
            <div class="btn-group btn-group-sm">
              <a class="btn btn-secondary" type="button" href="{% url 'reports_edit' report.pk %}">
                <i class="bi bi-pencil-fill"></i>
              </a>
              <button class="btn btn-danger"
                      type="button"
                      hx-post="{% url 'reports_delete' report.pk %}"
                      hx-target="closest #report-card"
                      hx-swap="outerHTML"
                      hx-trigger="click"
                      hx-confirm="Вы уверены что вы хотите удалить {{ report }}">
                <i class="bi bi-trash-fill"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body" style="padding: 0">
        {% include 'core/partials/report_entries_list.html' %}
      </div>
    </div>
  {% endfor %}
</div>
