<div id="report-entries-list-{{ report.pk }}">
  <table class="table bg-white">
    <thead>
    <tr>
      <th class="text-center" scope="col">Станок</th>
      <th class="text-center" scope="col">Деталь</th>
      <th class="text-center" scope="col">Количество</th>
{#      <th class="text-center" scope="col"></th>#}
    </tr>
    </thead>
    <tbody>
    {% for report_entry in report.reportentry_set.all %}
      <tr>
        <td class="text-center">
          {{ report_entry.machine }}
        </td>
        <td class="text-center">
          {{ report_entry.detail }}
        </td>
        <td class="text-center">
          {{ report_entry.quantity }}
        </td>
{#        <td class="justify-content-center" style="width: 5%">#}
{#          <button class="btn btn-danger"#}
{#                  type="button"#}
{#                  hx-post="{% url 'report_entries_delete' report.pk report_entry.pk %}"#}
{#                  hx-target="#report-entries-list-{{ report.pk }}"#}
{#                  hx-trigger="click">X#}
{#          </button>#}
{#        </td>#}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>