<div id="reports-list">
  {% for report in reports %}
    <div class="card mb-3">
      <div class="card-header">
        <div class="row">
          <h5 class="col-auto me-auto align-self-center">{{ report.user.username }} - {{ report.date|date:'d.m.y H:i' }}</h5>
          <div class="col-auto ms-auto">
            <div class="btn-group">
              <a class="btn btn-secondary" type="button" href="{% url 'reports_edit' report.pk %}">И</a>
              <button class="btn btn-danger"
                      type="button"
                      hx-post="{% url 'reports_delete' report.pk %}"
                      hx-target="#reports-list"
                      hx-trigger="click"
                      hx-confirm="Вы уверены что вы хотите удалить {{ report }}">Х
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        {% include 'core/partials/report_entries_list.html' %}
{#        <div class="container-fluid pt-0">#}
{#          <h5 class="card-title">Отчет - {{ report.user.username }} {{ report.id }}</h5>#}
{##}
{#          <p class="card-text">#}
{#            {{ report.date }}#}
{#          </p>#}
{##}
{#          {% include 'core/partials/report_entries_list.html' %}#}
{##}
{#          <div class="text-center">#}
{#            <a class="btn btn-secondary"#}
{#               type="button"#}
{#               href="{% url 'reports_edit' report.pk %}">Изменить#}
{#            </a>#}
{##}
{#            <button class="btn btn-danger"#}
{#                    type="button"#}
{#                    hx-post="{% url 'reports_delete' report.pk %}"#}
{#                    hx-target="#reports-list"#}
{#                    hx-trigger="click">Удалить#}
{#            </button>#}
{#          </div>#}
{#        </div>#}
      </div>
    </div>
  {% endfor %}
</div>
