{% load crispy_forms_tags %}
{% block extra_head %}
  <style>
      .tableFixHead {
          overflow: auto;
          height: calc(100vh - 120px);
      }

      .tableFixHead thead th {
          position: sticky;
          top: 0;
          z-index: 1;
          background-color: darkslategray;
          color: white;
      }

      td.done {
          background-color: lightgray;
      {#font-size: 20px;#}{#font-weight: bold;#}
      }
  </style>
{% endblock %}
<div id="stats-table" class="tableFixHead">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="text-center" style="width: 10%">
        <div class="btn-group">
          <a hx-get="{% url 'shift_table' value=-1 %}"
             hx-swap="outerHTML"
             hx-target="#stats-table"
             class="btn-sm btn-dark">
            <i class="bi bi-arrow-up"></i>
          </a>
          <a hx-get="{% url 'shift_table' value=1 %}"
             hx-swap="outerHTML"
             hx-target="#stats-table"
             class="btn-sm btn-dark">
            <i class="bi bi-arrow-down"></i>
          </a>
        </div>
      </th>
      {% for machine in machines %}
        <th class="text-center" scope="col">{{ machine.name }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in table %}
      <tr>
        {% for cell in row %}
          {% if cell.text %}
            <td>
              <div>
                {{ cell.text }}
              </div>
            </td>
          {% elif cell.plan %}
            <td class="text-center"
                hx-trigger="click"
                hx-get='{% url 'plan_modal' %}'
                hx-target="#modals-here"
                hx-vals='{"pk": {{ cell.plan.pk }}}'
                data-bs-toggle="modal"
                data-bs-target="#modals-here">
              {% for plan_entry in cell.plan.planentry_set.all %}
                <div class="text-center">
                  {{ plan_entry.detail }}<br>{{ plan_entry.quantity }}
                </div>
              {% endfor %}
            </td>
          {% else %}
            <td class="{{ cell.class }}">
              {% for obj in cell.objs %}
                <div class="text-center"
                     hx-trigger="click"
                     hx-get='{% url 'report_modal' %}'
                     hx-target="#modals-here"
                     hx-vals='{"pk": {{ obj.pk }}}'
                     data-bs-toggle="modal"
                     data-bs-target="#modals-here">
                  {{ obj.detail }}<br>{{ obj.quantity }}
                </div>
              {% endfor %}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>