<div id="users-list">
  {% for user in users %}
    <div class="card mb-1" id="user-card">
      <div class="card-header">
        <div class="row">
          <h5 class="col-auto me-auto align-self-center">{{ user.username }}</h5>
          <div class="col-auto ms-auto">
            <div class="btn-group">
              <a class="btn btn-secondary" type="button" href="{% url 'users_edit' user.pk %}">
                <i class="bi bi-pencil-fill"></i>
              </a>
              <button class="btn btn-danger"
                      type="button"
                      hx-post="{% url 'users_delete' user.pk %}"
                      hx-target="closest #user-card"
                      hx-swap="outerHTML"
                      hx-trigger="click"
                      hx-confirm="Вы уверены что вы хотите удалить {{ user.name }}">
                <i class="bi bi-trash-fill"></i>
              </button>
            </div>
          </div>
          <div>
            {{ user.get_role_display }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
